*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    width: 100%;
    height: 100vh;
}
/* Header */
.body-header{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.left-body-header{
padding-left: 20px;
display: flex;
flex-direction: row;
align-items: center;
gap: 50px;
}
.left-body-content{
    display: flex;
    align-items: center;
    gap: 8px;
}
.left-body-content h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 33px;
}
.left-body-content img{
    width: 40px;
    height: 40px;
}
.navlink{
    display: flex;   
    justify-content: space-around;
    gap: 20px;
}
.navlink li{
    list-style: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.navlink a{
    text-decoration: none;
}
.right-body-header{
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.right-body-header button{
    border: none;
    height: 30px;
    border-radius: 3px;
    background-color: rgba(19, 19, 102, 0.831);
    color: white;
}
.right-body-header #button1{
    width: 100px;

   
}
.right-body-header #button2{
    width: 70px;

}

/* Main */
.searchbox{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.searchbox-border{
    width: 25%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    transition-duration: 0.8s;
}
.searchbox-border img{
    width: 25px;
    margin-top: 3px;
}
.searchbox-border input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.searchbox-border button{
    border: none;
    height: 30px;
    width: 78px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: rgba(19, 19, 102, 0.831);
    color: white;
}

.tagline-content{
    display: flex;
    height: 380px;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.main-tagline{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: italic;
    width: 35%;
    font-size: 25px;
    margin-left: 50px;
}
.main-tagline-logo img{
height: 400px;
margin-right: 50px;
}
.searchbox:hover{
    .searchbox-border{
        width: 50%;
        height: 50px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 10px;
    }
    .searchbox-border img{
        width: 25px;
        margin-top: 3px;
    }
    .searchbox-border input{
        width: 80%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .searchbox-border button{
        border: none;
        height: 30px;
        width: 78px;
        margin-right: 5px;
        border-radius: 3px;
        background-color: rgba(19, 19, 102, 0.831);
        color: white;
    }
    
}

/* Footer */
.footer-body{

    margin-top: 15px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.822);
    display: flex;
    flex-direction: row;
}
.footer-left-content{
    width: 25%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.footer-contact-logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.rights{
    width: 50%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.rights-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    gap: 30px;
}
.rights-link a{
    text-decoration: none;
    color: white;
}
.rights-reserve p{
    margin-top: 10px;
    color: white;
}